In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('./riders.csv')
df = df.drop('Norm_count', axis=1)
df

       Route        Day    Time    Avg_Count
0    trolley     Monday   7a-9a   698.750000
1    trolley     Monday  9a-11a   983.000000
2    trolley     Monday  11a-1p   822.000000
3    trolley     Monday   1p-4p  1520.500000
4    trolley     Monday   4p-6p   983.250000
5    trolley     Monday   6p-9p   687.750000
6    trolley    Tuesday   7a-9a   508.142857
7    trolley    Tuesday  9a-11a   942.000000
8    trolley    Tuesday  11a-1p   869.666667
9    trolley    Tuesday   1p-4p  1262.166667
10   trolley    Tuesday   4p-6p   865.500000
11   trolley    Tuesday   6p-9p   575.833333
12   trolley  Wednesday   7a-9a   686.166667
13   trolley  Wednesday  9a-11a   952.333333
14   trolley  Wednesday  11a-1p  1004.666667
15   trolley  Wednesday   1p-4p  1515.666667
16   trolley  Wednesday   4p-6p   845.833333
17   trolley  Wednesday   6p-9p   690.833333
18   trolley   Thursday   7a-9a   650.666667
19   trolley   Thursday  9a-11a   848.333333
20   trolley   Thursday  11a-1p  1027.166667
21   trolley   Thursday   1p-4p  1402.500000
22   trolley   Thursday   4p-6p  1024.666667
23   trolley   Thursday   6p-9p   647.666667
24   trolley     Friday   7a-9a   628.000000
25   trolley     Friday  9a-11a   913.714286
26   trolley     Friday  11a-1p  1095.285714
27   trolley     Friday   1p-4p  1472.571429
28   trolley     Friday   4p-6p   852.428571
29   trolley     Friday   6p-9p   506.142857
..       ...        ...     ...          ...
120     tech     Monday   7a-9a   100.500000
121     tech     Monday  9a-11a   292.750000
122     tech     Monday  11a-1p   336.000000
123     tech     Monday   1p-4p   664.750000
124     tech     Monday   4p-6p   467.000000
125     tech     Monday   6p-9p    37.500000
126     tech    Tuesday   7a-9a    72.800000
127     tech    Tuesday  9a-11a   292.800000
128     tech    Tuesday  11a-1p   334.600000
129     tech    Tuesday   1p-4p   653.800000
130     tech    Tuesday   4p-6p   409.600000
131     tech    Tuesday   6p-9p    32.400000
132     tech  Wednesday   7a-9a   125.800000
133     tech  Wednesday  9a-11a   243.166667
134     tech  Wednesday  11a-1p   390.500000
135     tech  Wednesday   1p-4p   390.500000
136     tech  Wednesday   4p-6p   452.833333
137     tech  Wednesday   6p-9p    39.666667
138     tech   Thursday   7a-9a    74.833333
139     tech   Thursday  9a-11a   298.833333
140     tech   Thursday  11a-1p   337.500000
141     tech   Thursday   1p-4p   656.166667
142     tech   Thursday   4p-6p   464.000000
143     tech   Thursday   6p-9p    48.166667
144     tech     Friday   7a-9a    91.000000
145     tech     Friday  9a-11a   225.142857
146     tech     Friday  11a-1p   321.714286
147     tech     Friday   1p-4p   495.428571
148     tech     Friday   4p-6p   235.428571
149     tech     Friday   6p-9p    16.285714

[150 rows x 4 columns]

In [25]:
tr = df.loc[df['Route'] == "trolley"]
tr = tr.groupby(['Time']).mean()
tr

          Avg_Count
Time
11a-1p   963.757143
1p-4p   1434.680953
4p-6p    914.335714
6p-9p    621.645238
7a-9a    634.345238
9a-11a   927.876190

In [22]:
tr.to_json()

'{"Avg_Count":{"["blue","11a-1p"]":477.30571428,"["blue","1p-4p"]":783.54428572,"["blue","4p-6p"]":409.70095238,"["blue","6p-9p"]":274.35,"["blue","7a-9a"]":277.8695238,"["blue","9a-11a"]":456.6390476,"["green","11a-1p"]":177.85619046,"["green","1p-4p"]":268.33714286,"["green","4p-6p"]":199.98619046,"["green","6p-9p"]":177.02,"["green","7a-9a"]":135.64428572,"["green","9a-11a"]":242.86380952,"["red","11a-1p"]":631.54809524,"["red","1p-4p"]":830.97857142,"["red","4p-6p"]":506.82047618,"["red","6p-9p"]":231.47142858,"["red","7a-9a"]":424.45190476,"["red","9a-11a"]":667.56619046,"["tech","11a-1p"]":344.06285714,"["tech","1p-4p"]":572.12904762,"["tech","4p-6p"]":405.77238094,"["tech","6p-9p"]":34.803809526,"["tech","7a-9a"]":92.986666666,"["tech","9a-11a"]":270.53857142,"["trolley","11a-1p"]":963.75714294,"["trolley","1p-4p"]":1434.6809526,"["trolley","4p-6p"]":914.33571434,"["trolley","6p-9p"]":621.64523808,"["trolley","7a-9a"]":634.3452381,"["trolley","9a-11a"]":927.87619046}}'